:root{
    --bgMain: hsl(233, 47%, 7%);
    --bgCard: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
}

html{
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--bgMain);
    color: white;
    font-size: 15px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

img{
    max-width: 100%;
}

.content__img__mobile{
    display: none;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.article,
.content__img{
    background-color: var(--bgCard);
}

.article{
    width: 500px;
    height: 350px;
    padding: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.article__title,
.article__paragraph,
.article__list{
    width: 330px;
}

.article__title{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

.article__title span{
    color: var(--accent);
}

.article__paragraph{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 20px 0 50px;
}

.article__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    font-size: 10px;
}



.article__list__item__number{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

.article__list__item__text{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 10px;
    text-transform: uppercase;
}

.content__img{
    height: 350px;
    width: auto;
    opacity: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-color: var(--accent);
}

.content__img__desktop{
    object-fit: cover;
    opacity: 0.7;
    height: 100%;
    max-width: 100%;
    mix-blend-mode: multiply;
}

@media only screen and (max-width: 970px){

    .main{
        height: auto;
        flex-direction: column;
        margin: 50px 0;
        padding: 0 30px;
    }

    .content__img,
    .article{
        max-width: 350px;
    }

    .article{
        width: auto;
        padding: 30px;
        height: auto;
        order: 2;
        text-align: center;
        border-radius: initial;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .article__title,
    .article__paragraph{
        width: 100%;
    }

    .article__list{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .article__list__item{
        margin-bottom: 30px;
    }

    .article__list__item:last-child{
        margin: 0;
    }

    .content__img{
        height: 270px;
        border-radius: initial;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .content__img__desktop{
        display: none;
    }

    .content__img__mobile{
        display: block;   
        object-fit: cover;
        opacity: 0.7;
        height: 100%;
        max-width: 100%;
        mix-blend-mode: multiply;
    }

    
}
